<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">>
<head>
    <meta charset="UTF-8">
    <title>Owners page</title>
</head>
<body>
    <h2 th:text="'List of pet owners'">List of owners</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px">Id</th>
            <th style="width: 150px">First Name</th>
            <th style="width: 150px">Last Name</th>
            <th style="width: 150px">Address</th>
            <th style="width: 150px">Telephone</th>
            <th style="width: 150px">City</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">..</td>
            <td th:text="${owner.firstName}">..</td>
            <td th:text="${owner.lastName}">..</td>
            <td th:text="${owner.address}"></td>
            <td th:text="${owner.telephone}"></td>
            <td th:text="${owner.city}"></td>
        </tr>
        </tbody>

    </table>

</body>
</html>